.header {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header_logo_img {
    width: 48px;
    height: 48px;
}

.header_logged_text {
    display: inline-block;
    color: #626262;
    font-size: 0.8rem;
}

.header_logged_user {
    font-weight: 600;
}

.header_logout_btn {
    border: none;
    background: none;
    /* background-color: #274c77; */
    background-color: #345996;
    display: inline-block;
    color: #626262;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 6px 12px;
    color: #fff;
    margin-left: 10px;
    /* border-radius: 3px; */
}

.logout_btn:hover,
.logout_btn:active {
    cursor: pointer;
    /* text-decoration: underline; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

@media only screen and (max-width: 550px) {
    .header {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .logo_img {
        width: 64px;
        height: 64px;
    }
}
